.navbar {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 999;

  backdrop-filter: blur(14px);

  background: rgba(5, 8, 22, 0.7);

  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.nav-container {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.logo span {
  color: var(--accent-cyan);
}

.nav-links {
  display: flex;
  gap: 40px;

  list-style: none;
}

.nav-links li {
  position: relative;

  color: var(--text-secondary);

  cursor: pointer;

  transition: 0.3s ease;
}

.nav-links li::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -8px;

  width: 0%;
  height: 2px;

  background: linear-gradient(135deg, var(--accent-blue), var(--accent-purple));

  transition: 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}
.resume-btn {
  background: linear-gradient(135deg, var(--accent-blue), var(--accent-purple));

  color: white;

  padding: 12px 22px;

  border-radius: 40px;

  font-weight: 600;

  transition: 0.3s ease;
}

.resume-btn:hover {
  transform: translateY(-2px);

  box-shadow: 0 10px 30px rgba(56, 189, 248, 0.3);
}

/* MOBILE MENU */
.menu-toggle {
  display: none;

  font-size: 24px;

  cursor: pointer;

  color: white;
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;

    z-index: 1001;
  }

  .nav-links {
    position: fixed;

    top: 0;
    right: -100%;

    width: 100%;
    height: 100vh;

    background: #0f172a;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 40px;

    transition: 0.4s ease;

    z-index: 1000;
  }

  .nav-links.active {
    right: 0;
  }
} /* MOBILE MENU ICON */
.menu-toggle {
  display: none;

  font-size: 28px;

  color: white;

  cursor: pointer;

  z-index: 1001;
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: fixed;

    top: 0;
    right: -100%;

    width: 100%;
    height: 100vh;

    background: #0f172a;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 40px;

    transition: 0.4s ease;

    z-index: 1000;
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links li {
    font-size: 24px;
  }
}
